.w-full {
  width: 100%;
}
.mb20 {
  margin-bottom: 20px;
}
.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}

.header {
  padding: 10px;
  box-shadow: 0 0 10px rgba(28, 43, 54, 0.5);
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header span {
  margin-left: 3%;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.quiz-container {
  background-color: #ead8c0;
  color: #a79277;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: calc(100% - 100px);
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.username-input {
  border-radius: 3px;
  border: 2px solid #a79277;
  line-height: 30px;
  color: #695c4a;
  font-size: 15px;
  margin-block: 40px 20px;
  width: 100%;
  max-width: 400px;
}
.username-input:focus {
  outline: none;
  border-color: #a79277;
  box-shadow: 0 0 15px #a79277;
}
.button {
  border: none;
  background-color: #a79277;
  color: #fff2e1;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  font-size: 15px;
  width: 100%;
  max-width: 400px;
}
.button:disabled {
  background-color: #c3ac8e;
  cursor: not-allowed;
}
.question-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.next-question-button {
  width: max-content;
}
.options-container {
  list-style: none;
  padding: 0;
}

.options-container li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px #c3ac8e;
}

.options-container li:hover {
  background-color: #fff2e1;
}

.options-container li.selected {
  background-color: #fff2e1;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a79277;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d8c5ac;
}
